.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.search-template {
  padding: 40px 15px;
}

h1, h2, h3, h4, h5, h6 {
  text-align center;
}

.login-navbar {
    margin-top: 10px;
}

textarea, input {
    resize : none;
}