@main("Impressum") {
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Netzwerk</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="index">Home</a></li>
                <li><a href="login">Login</a></li>
                <li><a href="signup">Sign Up</a></li>
                <li><a href="about">About</a></li>
                <li class="active"><a href="impressum">Impressum</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container">

    <div class="starter-template">
        <h1>Impressum</h1>
        <br>
        <br>
        <i><b>Niclas Günther</b></i>: Schwerpunkt: Programmlogik, Ablaufsteuerung und alles, was man auch noch für das Projekt verwenden könnte. Unser CCO (Chief Coding Officer). Seine Erfahrung in der Programmierung von Browser Games prädestiniert ihn für diese Position. Spricht fließend PHP etc. Wenn um 2 Uhr morgens keine neue Version hochgeladen wird, ist er krank. Größte Schwäche: Apfelblindheit.
        <br>
        <br>
        <i><b>Christoph Gaudl</b></i>: Entwicklung der Benutzeroberfläche und Qualitätssicherung. Das (Programmier- )Handwerk liegt ihm im Blut, vor allem das Arbeiten in HTML und Java. Verbringt äußerst geduldig Stunden mit der Optimierung der Benutzeroberfläche. Hat nebenbei auch Zeit für das Testen.
        <br>
        <br>
        <i><b>Thomas Dennhardt</b></i>: Verantwortlich für die Erstellung des Datenmodells sowie dessen Anbindung. In jahrelanger (voruniversitärer) Tätigkeit als Projektmanager wurde „Dokumentation“ sein zweiter Vorname, daher übernimmt er auch diesen Bereich federführend.

    </div>

</div>
}