@(email: String)(error: Boolean)(message: String)

@userid = {@session.get("userid")}

@main("Netzwerk") {

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Endorado</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="network">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Du<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/userprofile/@userid">Dein Profil</a></li>
                        <li><a href="messages">Nachrichten</a></li>
                        <li><a href="nmessage">Neue Nachricht verfassen</a></li>
                        <li class="divider"></li>
                        <li><a href="friendship">Deine Freunde</a></li>
                        <li class="divider"></li>
                        <li><a href="group">Deine Gruppen</a></li>
                        <li><a href="groups">Gruppe erstellen</a></li>
                    </ul>
                </li>
                <li><a href="search">Suchen</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Eingeloggt als: @email<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="statistics">Statistiken</a></li>
                        <li class="divider"></li>
                        <li><a href="settings">Einstellungen</a></li>
                        <li class="divider"></li>
                        <li><a href="logout">Abmelden</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container">

    <div class="starter-template">
        <h1>Neue Nachricht</h1>
        <br>
        <br>
        <form role="form" class="form-horizontal" action="@routes.Messages.create()" method="POST">
            <div class="form-group">
                <label for="empfaenger" class="col-sm-2 control-label">An:</label>
                <div class="col-sm-10">
                    <div class="col-xs-4">
                        <input type="text" class="form-control" name="empfaenger" id="empfaenger" placeholder="Empfänger">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="betreff" class="col-sm-2 control-label">Betreff:</label>
                <div class="col-sm-10">
                    <div class="col-xs-4">
                        <input type="text" class="form-control" name="betreff" id="betreff" placeholder="Betreff">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="nachricht" class="col-sm-2 control-label">An:</label>
                <div class="col-sm-10">
                    <div class="col-xs-4">
                        <textarea class="form-control" name="nachricht" id="nachricht" placeholder="Deine Nachricht" rows="15"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-default">Abschicken</button>
                        @if(error == true) {
                        <span class="text-warning">@message</span>
                        } else {
                        <span class="text-success">@message</span>
                        }
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
}