@(email: String)(order: String)(results: List[Users])(groups: List[Groups])(error: Boolean)(message: String)


@main("Netzwerk") {

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Endorado</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="network">Home</a></li>
                <li><a href="groups">Gruppen</a></li>
                <li class="active"><a href="search">Suchen</a></li>
                <li><a href="groupsearch">Gruppensuche</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Eingeloggt als: @email<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="statistics">Statistiken</a></li>
                        <li class="divider"></li>
                        <li><a href="settings">Einstellungen</a></li>
                        <li class="divider"></li>
                        <li><a href="logout">Abmelden</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container">

    <div class="serach-template">
        <h1 style="text-align: center;">Benutzer suchen</h1>
        <br>
        <br>
        <form role="form" class="form-horizontal" action="@routes.Search.search()" method="POST">
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Nach Email-Adresse suchen</label>
                <div class="col-sm-10">
                    <div class="col-xs-4">
                        <input type="radio" class="form-control" name="check" value="echeck">
                        <input type="text" class="form-control" id="email" name="email" placeholder="Email-Adresse">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="vname" class="col-sm-2 control-label">Nach Vorame suchen</label>
                <div class="col-sm-10">
                    <div class="col-xs-4">
                        <input type="radio" class="form-control" name="check" value="vcheck">
                        <input type="text" class="form-control" id="vname" name="vname" placeholder="Vorname">
                    </div>
                </div>
            </div>
            <div class="form-group">
            <label for="nname" class="col-sm-2 control-label">Nach Nachname suche</label>
            <div class="col-sm-10">
                <div class="col-xs-4">
                    <input type="radio" class="form-control" name="check" value="ncheck">
                    <input type="text" class="form-control" id="nname" name="nname" placeholder="Nachname">
                </div>
            </div>
        </div>
            <div class="form-group">
                <label for="gname" class="col-sm-2 control-label">Nach Gruppen suche</label>
                <div class="col-sm-10">
                    <div class="col-xs-4">
                        <input type="radio" class="form-control" name="check" value="gcheck">
                        <input type="text" class="form-control" id="gname" name="gname" placeholder="Gruppenname">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-default">Suchen</button>
                        @if(error == true) {
                        <span class="text-warning">@message</span>
                        } else {
                        <span class="text-success">@message</span>
                        }
                    </div>
                </div>
            </div>
        </form>

        @if(order.equals("vcheck")) {
            <div class="results">
                <h2 style="text-align: center;">Ergebnisse</h2>
                <table class="table table-hover">
                    <thead>
                        <th>#</th>
                        <th>Vorname</th>
                        <th>Nachname</th>
                        <th>E-Mail Adresse</th>
                    </thead>
                    <tbody>
                        @for((result, index) <- results.zipWithIndex) {
                        <tr>
                            <td>@{index + 1}</td>
                            <td>@result.getVorname()</td>
                            <td>@result.getNachname()</td>
                            <td>@result.getEmail()</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

        @if(order.equals("ncheck")) {
        <div class="results">
            <h2 style="text-align: center;">Ergebnisse</h2>
            <table class="table table-hover">
                <thead>
                    <th>#</th>
                    <th>Nachname</th>
                    <th>Vorname</th>
                    <th>E-Mail Adresse</th>
                </thead>
                <tbody>
                    @for((result, index) <- results.zipWithIndex) {
                    <tr>
                        <td>@{index + 1}</td>
                        <td>@result.getNachname()</td>
                        <td>@result.getVorname()</td>
                        <td>@result.getEmail()</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        }

        @if(order.equals("echeck")) {
        <div class="results">
            <h2 style="text-align: center;">Ergebnisse</h2>
            <table class="table table-hover">
                <thead>
                    <th>#</th>
                    <th>E-Mail Adress</th>
                    <th>Nachname</th>
                    <th>Vorname</th>
                </thead>
                <tbody>
                    @for((result, index) <- results.zipWithIndex) {
                    <tr>
                        <td>@{index + 1}</td>
                        <td>@result.getEmail()</td>
                        <td>@result.getNachname()</td>
                        <td>@result.getVorname()</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        }

        @if(order.equals("gcheck")) {
        <div class="results">
            <h2 style="text-align: center;">Ergebnisse</h2>
            <table class="table table-hover">
                <thead>
                <th>#</th>
                <th>Gruppenname</th>
                <th>Gruppenbeschreibung</th>
                <th>Gruppentags</th>
                </thead>
                <tbody>
                @for((result, index) <- groups.zipWithIndex) {
                <tr>
                    <td>@{index + 1}</td>
                    <td>@result.getGruppenname()</td>
                    <td>@result.getGruppenbeschreibung()</td>
                    <td>@result.getGruppentags()</td>
                </tr>
                }
                </tbody>
            </table>
        </div>
        }
    </div>
    }
</div>
