@(email: String)(user: Users)(ufriended : Boolean)(hfriended: Boolean)(friends: Boolean)

@userid = {@session.get("userid")}

@main("Profil") {
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Endorado</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/network">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Du<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/userprofile/@userid">Dein Profil</a></li>
                        <li class="divider"></li>
                        <li><a href="/friendship">Deine Freunde</a></li>
                        <li class="divider"></li>
                        <li><a href="/group">Deine Gruppen</a></li>
                        <li><a href="/groups">Gruppe erstellen</a></li>
                    </ul>
                </li>
                <li><a href="/search">Suchen</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Eingeloggt als: @email<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/statistics">Statistiken</a></li>
                        <li class="divider"></li>
                        <li><a href="/settings">Einstellungen</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout">Abmelden</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container">

    <div class="search-template">
        <h1>Profil von @user.getVorname() @user.getNachname()</h1>

        <table class="table">
            <tr>
                <td><b>Vorname</b></td>
                <td>@user.getVorname()</td>
            </tr>
            <tr>
                <td><b>Nachname</b></td>
                <td>@user.getNachname()</td>
            </tr>
            <tr>
                <td><b>Geburtsdatum</b></td>
                <td>@user.getBirth()</td>
            </tr>
            <tr>
                <td><b>Geschlecht</b></td>
                <td>@user.getSex()</td>
            </tr>
            <tr>
                <td><b>Wohnort</b></td>
                <td>@user.getWohnort()</td>
            </tr>
            <tr>
                <td><b>Homepage</b></td>
                <td>@user.getHomepage()</td>
            </tr>
            <tr>
                <td><b>Beschreibung</b></td>
                <td>@user.getBeschreibung()</td>
            </tr>
            <tr>
                <td><b>Freunde</b></td>
                @if(friends == true) {
                    <td>Beidseitige Freundschaft.</td>
                }
                @if(hfriended == true) {
                    <td>Mit dir befreundet</td>
                }
                @if(ufriended == true) {
                    <td>Mit ihm befreundet</td>
                } else {
                    <td>Keine Freundschaft</td>
                }
            </tr>
        </table>
    </div>

</div>
}